
$colors : (
    blue: #407CCC,
    blue2:rgb(50, 101, 167),

    green: #A4D55D,
    aqua: #5AB9B4,
    orange: #FEBF0E,
    grey1: #F8F8F8,
    grey2:#d7d7d7,
    grey3:#a5a5a5,
    white: #ffffff
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$tablet: 768px;
$large: 992px;
$xlarge: 1500px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$large}) {
        @content;
    }
}

@mixin xlarge {
    @media (min-width: #{$xlarge}) {
        @content;
    }
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0em;
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.resource {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: rgb(184, 184, 184) solid 1px;
}

input {
    margin-bottom: 10px;
}

textarea {
    margin-bottom: 10px;
}



#root {
    width: 100%;

}

.container-fluid {
    width: 100%;
    padding: 0;
}

.card {
    margin: .5em;
    padding: 1em;
    border: none;
    box-shadow: 3px 3px 10px 1px #e9e9e9;
}

.category-nav {
    padding: 0;
    box-shadow: 0px 3px 10px 1px #e9e9e9;
    z-index: 2;
}

.navbar-light .navbar-nav .nav-link.active {
    background-color: color(blue);
    color: white;
}

.nav-link:hover {
    background-color: color(grey2);
}

.nav-link {
    background-color: color(grey1);
    padding: 1em;
    margin: 0 1em;

}

.navbar-light .navbar-nav .nav-link.active-link {
    color: color(aqua);
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.active-link:hover {
    background-color: color(grey1);
}

.tag-nav-container {
    padding: 0;
    background-color: color(grey1)
}

.resources-container {
    margin-top: 1em;
}

.header-btn-holder {
    display: flex;
    align-items:space-between;
}

.resource-library-header {
    margin: 2em;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    @include tablet {
        flex-direction:row;
    }
}

.resource-library-title {
    font-size: 2em;
    text-align: center;
    
}

.btn-primary {
    background-color: color(blue);
    box-shadow: 3px 3px 10px 1px #e9e9e9;
    border: none;
    margin-right: 1em;
}

.btn-primary:hover {
    background-color: color(blue2);
    box-shadow: 3px 3px 10px 1px #e9e9e9;
    border: none;
}


.sidebar.navbar {
    background-color: color(grey1)
}

.sidebar-item {
    background-color: color(grey1)
}

.sidebar-link {
    width: auto;
}

.sidebar-link:hover {
    background-color: color(grey1)
}

.filters-brand {
    text-align: center;
    margin: 0;
}

.arrow-down {
    width: 15px;
}

.btn-outline-secondary {
    border-color: color(aqua);
    color: color(aqua);
}

.btn-outline-secondary:disabled {
    color: color(aqua);
}

.btn-outline-secondary:hover {
    background-color: color(aqua);
    border-color: color(aqua);
    color: white;
}

.search-bar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    padding: 1em;
    padding-bottom: 0;

    @include large {
        flex-direction: row;
    }
}

.search-bar {
    width: 90%;

    @include tablet {
        width: 80%;
    }
}


.categories-brand {
    padding-left: 1em;

    @include large {
        display: none;
    }
}

.categories-toggler {
    margin-right: 1em;
}

.tags-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;

    .tag-pill {
        margin: 0 1em;
        background-color: color(aqua);
        color: white;
        padding: 0.5em 1em;
        border-radius:30px;
        box-shadow: 3px 3px 10px 1px #e9e9e9;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        
        .x {
            width:10px;
            margin-left: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }

    .tag-pill:hover {
        cursor: pointer;
    }


}

.search-btn {
    padding: .75em 2em;
    color: white;
    background-color:color(blue);
    border: none;
    border-radius: 25px;
    box-shadow: 3px 3px 10px 1px #c2c2c2;
}

.button:hover{
    background-color: color(aqua);
}

.search-div {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.search-bar {
    width:  100%;

    .rbt {
        width: 100%;
    }
}

.sign-in {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3em;
    Form {
        width: 50%;
    }

    Button {
        margin-left: 0;
        margin-top: 1em;
    }

    .error {
        color: rgb(241, 76, 76);
        margin-top: 1em;
        font-weight: bold;
    }
    .back-btn {
        align-self: flex-start;
        margin-left:  3em;
        color: color(blue);
    }
    

    
}

.required {
    color: rgb(255, 56, 56);
}


.add-r-Container,.edit-r-Container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;

    .inputBox {
        width: 50%;
        margin: 1em;
    }

    .form-group {
        margin: .5em 0;
    }

    button {
        width: 50%;
        margin: 0 .5em;
    }

    .btn-holder {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: .5em 0;

    .or {
        margin: 0 1em;
    }
}

.flex-center-col {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: .5em 0;

}


